.li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.4em 0;
  height: 6em;

  border-bottom: 2px solid orange;
}

.li h1 {
  font-size: 1.2em;
}

.nameOfTask {
  width: 60%;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, rgb(252, 164, 0) 0 40%, #ffffff 85% 100%);
  border-radius: 20px;

  padding: 0.1em 0.4em;
}

.li h2,
.li p {
  font-size: 0.95em;
  color: rgb(0, 0, 0);
  text-align: center;
}

.li div ~ div {
  display: flex;
  max-width: 30%;
  justify-content: center;
  flex-direction: column;
}

.li button {
  background-color: white;
  margin: 0.2em 0;
  border: 2px solid rgb(252, 164, 0);
  border-radius: 10px;
  padding: 0.1em 0.5em;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s;
}

.li button:hover {
  background-color: black;
  color: rgb(252, 164, 0);
  transform: scale(1.1);
}

.doneInfo h2 {
  color: rgb(0, 255, 0);
}

.li h2 {
  font-size: 1.1em;
}
